.deps
Makefile
alloca.h
charset.alias
configmake.h
dirent.h
fcntl.h
getopt.h
inttypes.h
libtar.a
ref-add.sed
ref-del.sed
rmt-command.h
stdio.h
stdlib.h
string.h
strings.h
sys
time.h
unistd.h
uniwidth/.deps
uniwidth/.dirstamp
*.o
